<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Registro fallido, intenta denuevo</h1>
      <a href="/api/views/register" class="btn btn-primary d-block mx-auto">VOLVER</a>
    </div>
  </div>
</div>