<form action="/api/session/login" method="post">
    <input type="text" name="email"  placeholder="Escriba su email"> 
    <input type="password" name="password" required placeholder="Escriba su contraseña">
    <input type="submit" value="LOGIN">
</form>
<a href="/api/session/github">ENTRAR CON GITHUB</a>