<form action="/api/session/login" method="post">
    <input type="text" name="email" required placeholder="Escriba su email"> 
    <input type="password" name="password" required placeholder="Escriba su contraseña">
    <input type="submit" value="LOGIN">
</form>
<div>
    <a href="/api/session/github">ENTRAR CON GITHUB</a>
</div>
{{!-- <form action="/api/session/github/callback">
    <input type="submit" value="RESGISTRAR CON GITHUB" class="btn btn-success">
</form> --}}