<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav d-flex">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-shopping-cart" id="cart" data={{cart}}></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/users/current">
                <i class="fas fa-user" id="user-icon"></i>
            </a>
        </li>
    </ul>
</nav>

<div id="prods-container">
    
</div>


{{!---------------------- //SCRIPTS ----------------------}}
<script>
    const cartElement = document.getElementById('cart');
    const cartId = cartElement.getAttribute('data'); 
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/productsRender.js"></script> 










