@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, ::after, ::before {
    padding: 0;
    margin: 0;
}

html {
    font-size: 20px;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
}

body {
    background-color: #ddd;
    position: relative;
}

a {
    color: black;
    text-decoration: none;
}

.body-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 200px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#title {
    top: 0;
    right: 500px;
}

.log-container {
    padding: 10px;
    width: 200px;
    height: 200px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn {
    padding: 7px;
    border-radius: 10px;
    background-color: green;
}