<div class="border border-primary d-flex flex-column align-items-center p-5">
    <textarea name="" id="chatbox" style="resize:none;width:30%;height:150px">
    </textarea>
    <input type="submit" style="color:orange" id="send">
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtTimeChat.js"></script>