<form action="/api/session/register" method="post">
    <input type="text" name="first_name" required placeholder="Escriba su nombre">
    <input type="text" name="last_name" required placeholder="Escriba su apellido">
    <input type="number" name="age" required placeholder="Escriba su edad">
    <input type="text" name="email" required placeholder="Escriba su email">
    <input type="number" name="phone" required placeholder="Escriba su telefono">
    <input type="password" name="password" required placeholder="Escriba su contraseña">

    <input type="submit" value="REGISTRAR" class="btn btn-primary">
</form>